/* Quick tip: to turn a line into a CSS comment press "command + /" or " Ctrl + /" */
/* This saves a lot of time  */
/*css tricks https://www.youtube.com/watch?v=2IV08sP9m3U*/
/* var(--variablename) is a dynamic css variable and can be changed */

/*LargeView*/
@media screen and (min-width: 800px) { 
    .header-grid{
        align-items: center;
        grid-template-columns: 1fr 200px; /*This is for grid spacing*/
        padding: 4.5rem 3rem 0;
    }
    .left-align{
        text-align: left;
    }
    /*body{
        margin: 3rem;
        margin-top: 4.5rem;
    }*/
    .select-container{
        max-width: calc(500px - 30px);
    }
    .card-grid{
        grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
        padding: 0 3rem 0;
    }
}

/*SmallorMobileView*/
@media screen and (max-width: 800px) {
    /*body{
        margin: 1rem;
        margin-top: 3rem;
    }*/
    .select-container{
        max-width: 100%;
    }
    .header-grid{
        padding: 3rem 1rem 0;
    }
    .card-grid{
        padding: 0 1rem 0;
    } 
}

body{
    background-color: hsl(214, 7%, 19%);
}

h3{
    font-weight: 800;
    margin: 0px;
    padding:0;
    line-height: normal;
    color: #ffffff;
    font-family: "Zilla Slab", Inter, -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.header-grid {
    display: grid;
    grid-gap: 1rem;
    padding-bottom: 48px;
    position: relative;
    align-items: center;
}

.action-font{
    font-family: Inter, -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color:white;
    font-size: 16px;
    font-weight: 400;

}
/* t
he min function picks the smaller value - so it will be 32 px until 5vw (a relative size) is smaller  */
/* May want to clamp the 5vw value - it is relative to screen width but is uncontrollable at this point  */
.greeting-banner{
    font-size: min(32px,5vw);
    width: fit-content;
}

.event-post{
    display: flex;
    border: 1px solid transparent;
    background-color: #23272a;
    border-radius: 1rem;
    width: 100%;
    height: 47px;
}

.event-button{
    padding: 0 20px 0 20px; /* this will change how far apart the "filter by campus" is to the side*/
    border: none;
    appearance: none; /*gets rid of the down arrow icon*/
    width: 100%;
    background-color: #23272a;
    border-radius: 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 47px;
    cursor: pointer;
}

.event-button:hover {
    background-color: #2a2f33;
}

.select-container{
    background-color: #23272a;
    display: flex;
    justify-content: center;
    position: relative;
    height: 47px;
    border-radius: 1rem;
    border: 1px solid transparent;

}

.select-box {
    /* add svg  */
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4.95 10'><polygon fill='%23fff' points='1.41 4.67 2.48 3.18 3.54 4.67 1.41 4.67'/><polygon fill='%23fff' points='3.54 5.33 2.48 6.82 1.41 5.33 3.54 5.33'/></svg>");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 20px; 
    padding: 0 20px 0 20px; /* this will change how far apart the "filter by campus" is to the side*/
    border: none;
    appearance: none; /*gets rid of the down arrow icon*/
    width: 100%;
    background-color: #23272a;
    border-radius: 1rem;
} 

/* end of header  */
/* beggining of event grid  */

.card-grid{
    display: grid;
    grid-gap: 1rem;
    position: relative;
    align-items: center;
}

.card{
    background-color: #23272a;
    height: 360px;
    width: 100%;
    border-radius: .5rem;
    border: 2px solid #1d1f21;
}
.card-header{
    width: 100%;
    height: fit-content;
   border-bottom: 2px solid var(--eventstatuscolor);
   background-color: #1d1f21;

}
.card-header-text{
    padding: 13px 16px;
    display: flex;
}

h6{
    font-family: Inter;
    color: var(--eventstatuscolor);
    margin:0;
    text-align: left;
    font-size: 16px;
    line-height: 26px;
}

.card-avatar-container{
    display: flex;
    flex: 0 0 auto;
    margin-right: 16px;
}

.card-avatar{
    width: 12px;
    height: 12px;
    margin-top: 6.7px;
    border-radius: 50%;
    background-color: var(--eventstatuscolor);
}


.card-body{
    /* css handles it as top right/left bottom  */
    padding: 24px 16px 32px;
}

h7{
    font-family:"Zilla Slab", Inter, -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: white;
    text-align: left;
    font-size: 20px;
    margin: 0px 0px 5px;
    font-weight: 500;
    letter-spacing: 0.0075em;
    padding: 0px;
    text-transform: capitalize;
    line-height: 24px;
}
h8{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    display: block;
    color: rgb(141, 151, 159);
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;

}

h9{
    display: block;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    margin-top: 16px;
}

/*This is for clicking effect*/
  .ClickBurger {
    position: absolute;
    font-size: 24px;
    animation: floatUp 1s ease forwards;
  }
@keyframes floatUp {
    0% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(80px); }
  }
   
/* this is to make the text not selectable (this is for double clicks for clickburger) */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}